[submodule "test/e2e/bats/core"]
	path = test/e2e/bats/core
	url = https://github.com/bats-core/bats-core
[submodule "test/e2e/bats/support"]
	path = test/e2e/bats/support
	url = https://github.com/bats-core/bats-support
[submodule "test/e2e/bats/assert"]
	path = test/e2e/bats/assert
	url = https://github.com/bats-core/bats-assert
[submodule "test/e2e/bats/file"]
	path = test/e2e/bats/file
	url = https://github.com/bats-core/bats-file
